#root{
  background:white;
}
#contact{
  max-height: 200px;
  background-color: white;
}
#contact>ul{
  text-decoration: none;
  color:  rgb(24,49,83) ;
  font-size: 2.5rem;
}
#contact li{
  display: flex;
  align-items: center;
  
}
.rs{
  display: flex;
  color: rgb(24,49,83);
  margin-right: 5%;
}
.rs:hover,.contact-link{
  color: #dcb233;
}
.contact-link{
  font-weight: bold;
  text-decoration: none;
  color: rgb(24,49,83);
}