#root{
  background:white;
}

#contact>ul{
  text-decoration: none;
  color:  rgb(24,49,83) ;
  font-size: 2.5rem;
}
#contact li{
  display: flex;
  align-items: center;
  
}
.rs{
  display: flex;
  color: rgb(24,49,83);
  margin-right: 5%;
}
.rs:hover,.contact-link{
  color: #dcb233;
}
.contact-link{
  font-weight: bold;
  text-decoration: none;
  color: rgb(24,49,83);
}
.contact-link:hover{
  color: #dcb233;
}
.main, #compétences, #contact, #projets{
  animation: myAnim 1s ease 0s 1 reverse forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}