#root{
  background:white;
}
#contact{
  max-height: 200px;
  background-color: #dcb233;
}
#contact>ul{
  text-decoration: none;
  color: white;
  font-size: 3rem;
}
#contact li{
  display: block;
  
}