.compet-gallery{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    flex-wrap: wrap;
}
.CompCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #cdb233;
    color: white;
    max-width: 45%;
    margin: 2%;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(24,49,83);
    box-shadow: 5px 5px 5px rgb(24,49,83);
}
.compTitle{
    font-size: 3rem;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 1%;
}
.tech{
    display: grid;
    align-items: end;
    border: 2px solid rgb(24,49,83);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
}
.tech>h4{
    margin-top: 0;
}
.note{
    padding: 3px;
}
.tech-img{
    width: 80%;
}
.grade{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}