.compet-gallery{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
}
.CompCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #cdb233;
    color: white;
    width: 45%;
    align-items: center;
    border-radius: 15px;
    border: 5px solid rgb(24,49,83);
}
.compTitle{
    font-size: 3rem;
}
.list{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 1%;
}
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(24,49,83);
    padding: 1%;
    border-radius: 5px;
}
.tech>h4{
    margin-top: 0;
}
.grade i{
    padding: 3px;
}