.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.details .title{
    align-self: flex-start;
}
.infos-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview{
    border-radius: 15px;
    border: 2px rgb(24,49,83) solid;
    box-shadow: 5px 5px 5px rgb(24,49,83);
    max-width: 40%;
    margin: 1%;
}
.infos{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 5%;
}
.infos>p::first-line{
    font-size: 1.5rem;
    color: rgb(24,49,83);
}
.allImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.allImages img{
    max-width: 60%;
    height:auto;
    border: 2px rgb(24,49,83) solid;
    box-shadow: 5px 5px 5px rgb(24,49,83);
    border-radius: 15px;
    object-fit: cover;
    margin: 2%;
}
.infos>p{
    width: 70%;
}
.infos>li::marker{
    color: rgb(24,49,83);
}
.allimage-title{
    color: rgb(24,49,83);
    font-size: 3rem;
    margin: 1%;
}
.lien-site{
    text-decoration: none;
    color: unset;
}
.lien-site:hover{
    color: #dcb233;
}
@media (max-width:951px) {
    .infos-image{
        flex-direction: column;
    }
    .preview{
        max-width: 80%;
    }
    .infos{
        max-width: 80%;
    }
    
}
@media (max-width:551px) {
    .allimage-title{
        font-size: 2rem;
    }
    
}