.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid #dcb233;
    padding: 3%;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 500px;
}
.title{
    font-size: 6rem;
    color: rgb(24,49,83) ;
    margin-bottom: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.photo{
    border: 5px solid rgb(24,49,83);
    border-radius: 50%;
    max-width: 20%;
    position: absolute;
    right: 50px;
}
.Text{
    color: rgb(24,49,83);
    font-size: 1.5rem;
}