.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid #dcb233;
    padding: 3%;
    padding-bottom: 100px;
    min-height: 500px;
}
.title{
    font-size: 6rem;
    color: rgb(24,49,83) ;
    margin-bottom: 0;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.photo{
    border: 5px solid rgb(24,49,83);
    border-radius: 50%;
    max-width: 25%;
    position: absolute;
    right: 5%;
}
.Text{
    color: rgb(24,49,83);
    font-size: 1.5rem;
}
.LinkRS{
    display: flex;
    max-width: 40%;
}
.linkres{
    color: rgb(24,49,83);
    font-size: 2.5rem;
    margin: 3%;
}
.linkres:hover {
    color: #dcb233;
}

@media (max-width:951px) {
    .section{
        min-height: unset;
    }
    .photo{
        position: unset;
        align-self: center;
    }
    .title{
        font-size: 3.5rem;
        margin-top: 2%;
    }
    .Text{
        font-size: 1rem;
    }
    
    .content{
        align-items: center;
    }
}
@media (max-width:551px) {
    .title{
        font-size: 2rem;
    }
    .photo{
        position: unset;
        align-self: center;
    }
    .content{
        align-items: center;
    }
}